# .gitignore from https://github.com/github/gitignore/blob/master/Global/Vagrant.gitignore
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

# Spotify cache
*.cache*
